@import "variables";

.content {
  margin: 0 10px $componentBottomMargin 10px;

  @media only screen and (min-width: $mobileWidth) {
    width: $mobileWidth;
    margin: 0 auto $componentBottomMargin auto;
  }

  p,
  ul {
    font-size: 1.2em;
  }
}

.game-wrap {
  background-color: $lightGray;
}

.game {
  max-width: 70vw;
  margin: auto;
  margin-bottom: $componentBottomMargin;

  @media only screen and (min-width: $mobileWidth) {
    height: 768px;
    max-width: none;
  }
}
