@import "variables";

.content {
  margin: 0 10px $componentBottomMargin 10px;

  @media only screen and (min-width: $mobileWidth) {
    width: $mobileWidth;
    margin: 0 auto $componentBottomMargin auto;
  }

  p,
  ul {
    font-size: 1.2em;
  }

  a {
    text-decoration: none;
  }
}

.game-wrap {
  background-color: $lightGray;
  margin-bottom: $componentBottomMargin;
}

.game {
  display: flex;
  align-items: center;
  max-height: calc(100vh - 10px);

  @media only screen and (min-width: $mobileWidth) {
    height: 768px;
    max-height: none;
  }
}
