@import "./variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

h1,
h2,
h3,
h4,
p,
ul,
li,
ol,
figure,
figcaption,
blockquote,
dl,
dd {
  margin-bottom: 10px;
}

ul,
ol {
  padding-left: 20px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
